[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
request = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-extensions = "*"

[requires]
python_version = "3.7"
