{% extends 'layout/application.html' %}
{% load static %}

{% block assets %}
  <link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock %}

{% block content %}
  <form action="" method="post" class="registration-form">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{field.name}}">{{ field.name }}</label>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-success">submit</button>
  </form>
{% endblock %}  