<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ticket</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body class="container">
  <h1>Wellcome to ticketing site</h1>
  {% for ticket in tickets %}
    <div class="post-container">
      <h2 class="text-primary">{{ ticket.title }}</h2>
      <p class="post-container__body">{{ ticket.description }}</p>
      <p class="post-container__status">{{ ticket.status }}</p>
      <p class="post-container__status">{{ ticket.creator.email }}</p>
    </div>
  {% endfor %}  
</body>
</html>